$color_1: #2B2B2B;
.hero-slider-container {
  width: 100%;
  height: 100dvh; 
  position: relative;

  .hero-swiper {
    width: 100%;
    height: 100dvh;
  }

  .hero-content {
    max-width: 800px;
    padding: 0 20px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 30px;
    }
  }
}

.hero-slide-bg{
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: $color_1;
  
}